<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Basic Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <a href="{% url 'forms'  %}" class="btn btn-info">add new product</a>
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    {% for i in context %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.type }}</td>
        <td><a href="{% url 'update' i.id  %}"> <button type="button" class="btn btn-primary">update</button></a></td>
        <td><a><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">delete</button></a></td>
      </tr>

    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">


          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a href="{% url 'delete' i.id  %}" class="btn btn-danger">delete</a>

        </div>
      </div>

    </div>
  </div>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
